h1 {text-align: center;}
.isha { text-align: left;
    padding-left: 15px;
        }
h4 {
    color: maroon;
}        
         

.jfk-button-action {box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;}

    body {
        font-family: arial,sans-serif;
    }
    h5 {  font-family: arial,sans-serif;}
   .almt { text-align: right;
            font-size: 12px;}
            
    body      {font-family: arial,sans-serif;}
    
           